<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <title>Fire Management System</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="flame-outline"></ion-icon>
                        </span>
                        <span class="title">Fire Management System</span>
                    </a>
                </li>

                <li>
                    <a href="/">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="/livefeed">
                        <span class="icon">
                            <ion-icon name="camera-outline"></ion-icon>
                        </span>
                        <span class="title">Live_Feed</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Messages</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Help</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Password</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="assets/imgs/customer01.jpg" alt="">
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers"> {{ no_of_fire_cases }} </div>
                        <div class="cardName">No Of active Cases</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="flame-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class = somth>
                            <div class="numbers" >
                                {{available_no_of_manpower}}
                                
                                <ion-icon name="people-outline" style="font-size: 30px; color: grey;"></ion-icon>
                                &nbsp &nbsp  {{available_no_of_vehicles}} 
                                <ion-icon name="car-outline" style="font-size: 30px; color: grey;"></ion-icon>
                            </div>
                            
                        </div>
                        <div class="cardName">Available resources</div>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class = somth>
                            <div class="numbers" >
                                {{assigned_no_of_manpower}}
                                
                                <ion-icon name="people-outline" style="font-size: 30px; color: grey;"></ion-icon> 
                                &nbsp &nbsp {{assigned_no_of_vehicles}} 
                                <ion-icon name="car-outline" style="font-size: 30px; color: grey;"></ion-icon></div>
                            
                        </div>
                        <div class="cardName">Assigned resources</div>
                    </div>
                </div>

                
               
                <div class="card">
                    <div>
                        <div class="numbers">00</div>
                        <div class="cardName">Other</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->

            <div class="details">
                <div class="recentOrders">

                    <table>
                        <thead>
                            <tr>
                                <td>Detected Location</td>
                                <td>Detected Time</td>
                                <td>Sevearty</td>
                                <td>FireFighters Status.</td>
                                
                                <td>View with Map</td>
                                <td>Delete Fire</td>
                            </tr>
                        </thead>

                        <tbody>
                            {% for fire_id, fire_data in fire_location.items() %}
                            <tr>
                                <td>{{ fire_data.location_name }}</td>
                                <td>{{ fire_data.time_detected }}</td>
                                <td>{{ fire_data.severity }}</td>
                                <td>
                                    {% if fire_data.condition == "Already Assigned" %}
                                            <span class="status delivered">Already Assigned</span>
                                        {% elif fire_data.condition == "Not Assigned" %}
                                            <span class="status return">Not Assigned</span>
                                        {% elif fire_data.condition == "return" %}
                                            <span class="status return">Return</span>
                                        {% endif %}
                                </td>
                                <td>
                                    <a href="/map/{{ fire_id }}" class="view-button">
                                      <i class="fas fa-map-marker-alt"></i> View Details
                                    </a>
                                  </td>
                                  <td>
                                    <a href="/delete/{{ fire_id }}" onclick="confirmDelete(event, '{{ fire_id }}')">
                                      <i class="fas fa-trash-alt" style="color: black;"></i>
                                    </a>
                                  </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="assets/js/main.js"></script>
    <script>
        function confirmDelete(event, fireId) {
            if (confirm("Are you sure you want to delete this fire incident?")) {
              // User confirmed, proceed with deletion
              event.preventDefault(); // Prevent the default link behavior
          
              // Send a DELETE request to the server
              fetch(`/delete/${fireId}`, {
                method: 'DELETE'
              })
              .then(response => response.json()) // Parse the response as JSON
              .then(data => {
                if (data.message) {
                  // Fire incident deleted successfully
                  alert(data.message); // Display the success message
                  window.location.reload(); // Refresh the page
                } else {
                  // Handle unexpected response
                  console.error('Unexpected response from the server.');
                }
              })
              .catch(error => {
                console.error('Error:', error);
              });
            } else {
              // User canceled, do nothing
              event.preventDefault(); // Prevent the default link behavior
            }
          }
    </script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>